/* 

.MuiAccordionSummary-root{
  padding: 0px !important;
}

.MuiAccordionSummary-expandIcon{
   color: white !important;
}

.MuiAccordionSummary-expandIcon:hover{
  color: white !important;
}

.MuiAccordionSummary-content{
  display: block !important;
}


.MuiAccordion-root.MuiPaper-root{
  background-color: transparent !important;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin:0px !important;
}

.MuiAccordionDetails-root{
  display: block !important;
}

.MuiAccordionSummary-content{
  margin: 0px !important;
}





 */
