/* slidder */


.image-item {
    padding: 10px;
  }

.slidder-image{
  padding-bottom: 15px;
}  
  .container-with-dots {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .react-multi-carousel-dot-list {
    bottom: 0px !important;
  }
  #__next {
    overflow: scroll;
    margin-bottom: 40px;
  }
  .react-multi-carousel-dot button {
    border-color: grey !important;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .react-multi-carousel-list{
     height: 100%;
     border-radius: 25px;
  }

  @media only screen and (max-width: 3000px) {
    .react-multi-carousel-list{
      height: 350px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .react-multi-carousel-list{
      height: 100%;
    }
  }

  @media only screen and (max-width: 464px) {
    .react-multi-carousel-list{
      height: 100%;
    }
  }



  /* category slidder */

  /* .CategoriesBar-root-216 header{
    top: auto  !important;
    position: unset !important;
    height: auto;
  } 
  @media only screen and (max-width: 3000px) {
    .CategoriesBar-root-216 header{
      position: absolute !important;
      bottom: 0px;
      height: 110px;
    }
  }

  .CategoriesBar-root-216 header .react-multi-carousel-list{
    height:100%
  }

  .CategoriesBar-root-216 .MuiPaper-root .react-multi-carousel-list ul{
    margin: auto;
    margin-top: 70px;
  }

  @media only screen and (max-width: 3000px) {
    .CategoriesBar-root-216 .MuiPaper-root .react-multi-carousel-list ul{
      position: absolute !important;
      bottom: 0px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .CategoriesBar-root-216 .MuiPaper-root .react-multi-carousel-list ul{
      margin-top: 110px;
    }
  }

  @media only screen and (max-width: 464px) {
    .CategoriesBar-root-216 .MuiPaper-root .react-multi-carousel-list ul{
      margin-top: 110px;
    }
  }

  .CategoriesBar-root-216 .MuiPaper-root .react-multi-carousel-list ul li{
    width: 90px !important;
  } */


/* .Carousel-root-243{
  width: inherit !important;
}  */

.MuiFormControl-marginNormal{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
