*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
  }
  .navHome{
    display: flex;
    flex-direction: column;
    
  }
  .headerContainer{
    height: 80px;
    background-color:rgb(105, 132, 221);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:sticky;
    margin-bottom: 80 vh;
  }
  
  .rightnav{
    display: flex;
    justify-content: space-evenly;
  }
  
  .categoryIcon{
    margin: 0px 5px 0px 5px;
    transition :transform 0.5;
  }
  
  .categoryIcon:hover{
    opacity: 0.9;
    transform: scale(1.2);
  }
  
  .brandName{
    font-size: 50px;
  }