.main-menu{
  position: fixed;
  z-index: 99;
  width: 100%;
}

/* navbar */
.searchbar{
    margin: auto;
    display: inline;
  }
  
  @media only screen and (max-width: 3000px) {
    .searchbar{
      margin: auto;
      display: inline;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .searchbar{
      margin: auto;
      display: none;
    }
  }
  
  @media only screen and (max-width: 464px) {
    .searchbar{
      margin: auto;
      display: none;
    }
  }


  .Search-card-72 .MuiFormControl-root .MuiFormLabel-root{
    margin-left: 15px !important;
  } 

.responsive-search-bar{
  display: none;
}

.responsive-search-bar header{
  top: auto !important;
  position: sticky;
  background-color: #459cb3 !important;
}

.responsive-search-bar header .Search-card-72{
  display: flex;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .responsive-search-bar{
    display: inline;
  }
}

@media only screen and (max-width: 464px) {
  .responsive-search-bar{
    display: inline;
  }
}